.publish_article{
    background:#fff;
    padding:10px;
    .ant-col-6{
        padding-left:30px;
    }
    .publish_title{
        text-align: center;
    }
    .publish_container{
        max-width:800px;
        margin:auto;
        .publish_input{
            margin:10px 0;
        }
        .controlbtns{
            margin-top:30px;
            display:flex;
            justify-content: center;
            
        }
    }
}
.infoitem{
    margin-bottom:10px;
}
.article_editor{
    .md_panel{
        height:calc(100vh - 250px);
        min-height:300px;
    }
}