.blue{
    color:blue;
}
.detailwrapper{
    padding-left:15px;
    padding-right:15px;

    .articleContent p{
        line-height: 1.6em;
        margin: 1.2em 0;
    }
}
.user_info{
    display: grid;
    grid: auto auto auto/80px 1fr;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    align-items: center;

    .avatar{
        grid-column: 1;
        grid-row: 2/span 2;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left:0;
    }
    .restdesc{
        grid-column: 2;
        grid-row:3;
    }

    .title{
        grid-column: 1/span2;
        grid-row: 1;
        margin: 5px 0;
        font-size: 2.8rem;
        font-weight: 600;
    }
    .desc{
        margin:0;
    }
    .userlink{
        grid-column: 2;
        grid-row:2;
        color: #090;
        font-size:35px;
        text-decoration: none;
    }
}
.inline-left-8{
    padding-left:8px;
}
.inline-right-4{
    padding-right:4px;
}